@model List<Medico.Model.IssueViewModel>

@{
    ViewBag.Title = "Issue List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Issue List of @Model[0].Journal.Title</h2>


 <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Text</th>
                <th>Description</th>
                <th>File</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td>
                    <td>
                       @* @Html.ActionLink(item., "GetFile", new { Id = item.Id }, new { target = "_blank" })*@
                    </td>
                </tr>
            }
        </tbody>
    </table>